.modalWrapper {
  display: flex;
  border-radius: 16px;
  background: $white;
  flex-direction: column;
  width: 600px;
  padding: 28px;
  align-items: center;
  gap: 28px;
  @include responsive(T) {
    padding: 20px;
    gap: 20px;
    width: 340px;
  }
}
.question-container {
  display: flex;
  padding: 24px;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  border-radius: 16px;
  background: $secondary;
  color: $white;

  @include responsive(T) {
    padding: 16px;
  }

  &-title {
    @include text-style(16);
  }
  &-question {
    color: $gray20;
    @include text-style(18, bold);
  }
}
.questionFieldWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  width: 100%;
}

.questionField {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 16px;
  border: 1px solid $secondary;
  width: 100%;
  padding: 24px;
  @include responsive(T) {
    padding: 16px;
    gap: 28px;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .label {
    color: $secondary;
    margin-bottom: 8px;
    @include text-style(20, bold);
    @include responsive(T) {
      @include text-style(18, bold);
    }
  }
}

.button-container {
  display: flex;
  gap: 20px;
}

.error {
  margin-top: 4px;
  color: $red;
  @include text-style-12;
}
