.modalWrapper {
  display: flex;
  border-radius: 16px;
  background: $gray20;
  flex-direction: column;
  @include responsive(T) {
    width: 600px;
    padding: 28px;
    align-items: center;
    gap: 28px;
  }
  @include responsive(M) {
    padding: 16px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
}
.question-container {
  display: flex;
  border-radius: 16px;
  background: $secondary;
  color: $white;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-weight: 500;
  line-height: 24px; /* 150% */
  gap: 8px;
  @include text-style(16, normal);
  @include responsive(T) {
    padding: 24px;
  }
  @include responsive(M) {
    padding: 16px;
  }
}
.question-title {
  color: $gray20;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-weight: 500;
  line-height: 24px; /* 150% */
  @include text-style(16, normal);
}
.question {
  font-weight: 600;
  line-height: 24px;
  font-feature-settings:
    'clig' off,
    'liga' off;
  color: $gray20;
  @include text-style(18, normal);
}

.questionField {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid $secondary;
  @include responsive(T) {
    padding: 24px;
  }
  @include responsive(M) {
    padding: 16px;
  }
}
.label {
  color: $sunny-secondary;
  font-feature-settings:
    'clig' off,
    'liga' off;

  font-weight: 600;
  line-height: 28px; /* 140% */
  @include text-style(20, normal);
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @include responsive(T) {
    gap: 10px;
  }
  @include responsive(M) {
    gap: 20px;
  }
}
