.button {
  @include text-style(16, bold);

  border-radius: 12px;
  overflow: hidden;

  white-space: nowrap;

  &-size {
    &-full {
      width: 100%;
      height: 48px;
    }
    &-lg {
      height: 48px;
      padding: 0 32px;
    }
    &-md {
      height: 40px;
      padding: 0 24px;
    }
    &-sm {
      @include text-style(14, bold);

      height: 32px;
      padding: 0 16px;
      border-radius: 8px;
    }
  }

  &-variant {
    &-default {
      position: relative;
      color: $white;
      background-color: $secondary;
      border: none;

      &:hover::after {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: $black;
        content: '';
        opacity: 3%;
      }
    }

    &-another {
      position: relative;
      color: $secondary;
      background-color: $white;
      border: 1px solid $secondary;

      &:hover::after {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: $black;
        content: '';
        opacity: 1%;
      }
    }
  }
}
