.viewer {
  height: 220px;
  overflow: hidden;
}

.card-list {
  display: flex;
  gap: 16px;
  height: 100%;

  &-item {
    flex-shrink: 0;
    width: calc((100% - 32px) / 3);

    @include responsive(M) {
      width: calc((100% - 16px) / 2);
    }
  }
}
