.input {
  border-radius: 12px;
  @include text-style(16);
  width: 100%;
  color: $black;
  display: block;
  box-sizing: border-box;
  outline: none;
  border: 1px solid $gray20;
  background-color: $white;

  &-size {
    &-lg {
      height: 48px;
      padding: 0px 16px;
    }
    &-md {
      border-radius: 8px;
      @include text-style(14);
      height: 40px;
      padding: 0px 12px;
    }
    &-responsive {
      height: 48px;
      padding: 0px 16px;
      @include responsive(M) {
        border-radius: 8px;
        @include text-style(14);
        height: 40px;
        padding: 0px 12px;
      }
    }
  }
}
