.popup {
  display: flex;
  width: 240px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  border-radius: 16px;
  border: 1px solid $secondary;
  background-color: $white;
  box-shadow: $popup-shadow;

  &-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    align-self: stretch;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;

    &-label {
      @include text-style(18, bold);
      color: $secondary;
      line-height: 26px;
      margin: 0;
    }
  }
}