.textarea {
  @include text-style(16);
  display: block;
  width: 100%;
  height: 140px;
  padding: 16px;
  background-color: $white;
  border: 1px solid $gray20;
  border-radius: 12px;
  resize: none;
  color: $black;
  @include responsive(M) {
    @include text-style(14);
    height: 180px;
    padding: 12px;
  }
}
