$primary: var(--primary);

$secondary: var(--secondary);

$black: #222222;
$gray20: #bbbbbb;
$gray10: #dddddd;
$white: #f9f9f9;

$red: #f34642;

/////////// 사용 x ////////////
$sunny-primary: #ffc645;
$sunny-secondary: #afd278;

$rainy-primary: #8ec0e4;
$rainy-secondary: #a99874;

$snowy-primary: #2a346a;
$snowy-secondary: #615d68;
/////////////////////////////////
