.pagination {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
}
.pageButton {
  align-items: center;
  font-size: 18px;
  justify-content: center;
  border-radius: 12px;
  border: $white;
  color: $secondary;
  background: $white;
  box-shadow: $main-shadow;
  &:active {
    border: 1px solid $secondary;
    background: $secondary;
    color: $white;
  }

  @include responsive(T) {
    &-lg {
      height: 55px;
      width: 55px;
    }
  }

  @include responsive(M) {
    &-md {
      height: 20px;
      width: 20px;
    }
  }
}
.button {
  display: flex;
  align-items: center;
  @include text-style(18);
  justify-content: center;
  border-radius: 12px;
  border: $white;
  color: $secondary;
  background: $white;
  transition:
    border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  box-shadow: $main-shadow;
  &:hover,
  &:focus {
    border: 1px solid $secondary;
    background: $secondary;
    color: $white;
    cursor: pointer;
  }

  @include responsive(T) {
    &-lg {
      height: 55px;
      width: 55px;
    }
  }

  @include responsive(M) {
    &-md {
      height: 20px;
      width: 20px;
    }
  }
}
