.pagination {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
}

.button {
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: center;
  border-radius: 12px;
  border: #f9f9f9;
  color: #afd278;
  background: var(--Grayscale-20, #f9f9f9);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  &:hover {
    border: 1px solid #afd278;
  }
  &:active {
    background: #afd278;
    color: #f9f9f9;
  }
  &-size {
    &-lg {
      height: 55px;
      width: 55px;
      padding: 17 30px;
    }
    &-md {
      height: 20px;
      width: 20px;
      padding: 17px 30px;
      font-size: 14px;
    }
  }
}
