.ContentLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 500px;
  height: 48px;
  border-radius: 16px;
  background: $secondary;
  color: $white;
  @include text-style(24, bold);
  gap: 4px;

  @include responsive(M) {
    width: 100%;
  }
}
